/* ---------------------------- *\
    
    $WP $Admin $Bar $Tweaks

\*----------------------------- */
    
@media (min-width: unit(783/16,'em'))
    /* $min-width: $783px */
    
    // $General
    .logged-in.showing-admin-bar
        margin-top 32px        

@media (min-width: unit(601/16,'em')) and (max-width: unit(782/16,'em'))
    /* $min-width: $601px / $max-width: $782px */
    
    // $General
    .logged-in.showing-admin-bar
        margin-top 46px

@media (max-width: unit(600/16,'em'))
    /* $max-width: $600px */
    
    // $General
    .logged-in.showing-admin-bar
        margin-top 0
        padding-top 46px