/* ---------------------------- *\
    
    $CTA

\* ---------------------------- */

@import 'utilities/utilities'

.cta
    text-align center
    padding-top $space80
    padding-bottom $space80

.cta__text
    margin-bottom $space40

.cta__button
    display inline-block
    color $darkGrey
    padding $space20 $space40
    border 1px solid $darkGrey
    transition $basetransition

    &:hover
        color #fff
        background-color $darkGrey
