/*!
Theme Name: {{theme_name}}
Description: {{theme_description}}
Author: {{theme_author}}
Author URI: {{theme_author_uri}}
Version: {{theme_version}}
*/

@import 'utilities/_variables'
@import 'utilities/_mixins'
@import 'components/_normalize'
@import 'components/_print'
@import 'components/_helpers'
@import 'components/_tweaks'
@import 'partials/_main'