:root
    +above(1200)
        /* $min-width: $1200px */
        --v-space $space80
        --h-space $space80
    +between(768,1199)
        /* $min-width: $768px / $max-width: $1199px */
        --v-space $space40
        --h-space $space60
    +below(767)
        /* $max-width: $767px */
        --v-space $space20
        --h-space $space20
