/* ---------------------------- *\
    
    $Helpers

\* ---------------------------- */

*,
*:before,
*:after
    box-sizing border-box
  
html
    font-size rem(16)

html,
button,
input,
select,
textarea
    color $darkGrey

body
    line-height 1.4
    font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif

::-moz-selection
    color white
    text-shadow none
    background-color $darkGrey

::selection
    color white
    text-shadow none
    background-color $darkGrey

hr
    border 0
    padding 0
    height 1px
    margin 1rem 0
    display block
    border-top 1px solid #ccc

img
    height auto
    max-width 100%
    vertical-align middle

fieldset
    border 0
    margin 0
    padding 0

textarea
    resize vertical

.chromeframe
    margin 0.2rem 0
    background #ccc
    color #000
    padding 0.2rem 0

/* Declarating general styles for p and h$ */

p, li
    font-size rem(16)
h1, h2, h3, h4, h5, h6
    font-weight 400
h1, h2, h3, h4, h5, h6, p
    margin-top 0
h1, .alpha
    font-size rem(32)
h2, .beta
    font-size rem(28)
h3, .gamma
    font-size rem(24)
h4, .delta
    font-size rem(22)
h5, .epsilon
    font-size rem(20)
h6, .zeta
    font-size rem(18)
strong
    font-weight 700
a
    text-decoration none
    &:visited
        color inherit

.wrapper
    width 100%
    margin 0 auto
    if wrapperSize
        max-width $wrapperSize
    position relative

.align
    width 100%
    height 100%
    display table
    > div
        display table-cell
        vertical-align middle

.flex
    display flex
    flex-wrap wrap
    &.no-wrap > .post
        width 100%

.flex-centering
    centerFlexbox(true,true)

.grid
    display grid

.overlay
    top 0
    left 0
    opacity 0
    z-index 5
    width 100%
    height 100%
    display block
    cursor pointer
    position fixed
    padding 40px 0
    overflow-y auto
    visibility hidden
    pointer-events none
    background-color rgba(0,0,0,.4)
    transition opacity .5s, visibility .5s, transform .4s
    -webkit-tap-highlight-color transparent
    -webkit-tap-highlight-color rgba(0,0,0,0)

.nondisplayed
    display none

.hide-item
    opacity 0
    visibility hidden
    transition opacity .3s ease-out, visibility .3s ease-out

.show-item
    opacity 1
    visibility visible
    transition opacity .3s ease-out, visibility .3s ease-out

.clearfix
    clearfix()

/* Predefined styles for post and page images (floats and margins) */
img
    &.alignright 
        float right
        margin 0 0 1em 1em
    &.alignleft 
        float left 
        margin 0 1em 1em 0
    &.aligncenter 
        display block
        margin-left auto
        margin-right auto
        padding 10px
    a &
        &.alignright
            float right
            margin 0 0 1em 1em
    a &
        &.alignleft
            float left
            margin 0 1em 1em 0
    a &
        &.aligncenter
            display block
            margin-left auto
            margin-right auto

.embed-container
    height 0
    overflow hidden
    position relative
    padding-bottom 56.25%
    iframe
        top 0
        left 0
        width 100%
        height 100%
        position absolute

:root
    +above(1200)
        /* $min-width: $1200px */
        --section 2.85rem
        --space 2.85rem
    +between(768,1199)
        /* $min-width: $768px // $max-width: $1199px */
        --section 2.5rem
        --space 1.75rem
    +below(767)
        /* $max-width: $767px */
        --section 1.5rem
        --space 1rem

.section
    padding-top var(--section)
    padding-bottom var(--section)

.space
    padding-left var(--space)
    padding-right var(--space)