/* ---------------------------- *\
    
    $WP $Admin $Bar $Tweaks

\*----------------------------- */

+above(783)
    /* $min-width: $783px */
    
    // $General
    .logged-in.showing-admin-bar
        margin-top rem(32)

+between(601, 782)
    /* $min-width: $601px / $max-width: $782px */
    
    // $General
    .logged-in.showing-admin-bar
        margin-top rem(46)

+below(600)
    /* $max-width: $600px */
    
    // $General
    .logged-in.showing-admin-bar
        margin-top 0
        padding-top rem(46)