/* ---------------------------- *\
    
    $Button

\* ---------------------------- */

@import 'utilities/utilities'

.button
    display inline-block
    color $darkGrey
    padding $space20 $space40
    border 1px solid $darkGrey
    transition $basetransition

    &:hover
        color #fff
        background-color $darkGrey
